.admin-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px auto;
  max-width: 600px;
  height: 100vh;
}

.admin-dashboard h1 {
  color: #000000;
  font-size: 40px;
}

.button-container {
  margin-top: 20px;
}

.dashboard-button,
.profile-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s;
}

.dashboard-button:hover,
.profile-button:hover {
  background-color: #007bb5;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .admin-dashboard {
    max-width: 80%;
  }

  .button-container {
    flex-direction: column;
  }

  .dashboard-button,
  .profile-button {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .admin-dashboard {
    padding: 15px;
  }

  .dashboard-button,
  .profile-button {
    padding: 8px 15px;
    font-size: 14px;
  }
}
