/* Button Styles */
.days-btn-add,
.days-btn-dtl,
.days-btn-add-rsp,
.days-btn-dtl-rsp {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.days-btn-add-rsp {
      width: 80px; /* Adjusted width for smaller screens */
      height: 30px; /* Adjusted height for smaller screens */
      margin-bottom: 5px;
      margin-top: 5px;
      font-size: 8px; /* Adjusted font size for smaller screens */
    }

.days-btn-add,
.days-btn-add-rsp {
  background-color: #4caf50; /* Green */
  color: white;
}

.days-btn-add:hover,
.days-btn-add-rsp:hover {
  background-color: #45a049; /* Darker Green */
}

.days-btn-dtl,
.days-btn-dtl-rsp {
  background-color: #f44336; /* Red */
  color: white;
}

.days-btn-dtl:hover,
.days-btn-dtl-rsp:hover {
  background-color: #d32f2f; /* Darker Red */
}

/* Card Styles */
.day-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center align cards horizontally */
}

.meal-day {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%; /* Full width on smaller screens */
  max-width: 325px; /* Maximum width for larger screens */
  text-align: left; /* Align text to the left */
  transition: all 0.3s ease;
}

.meal-day:hover {
  transform: scale(1.02); /* Scale up on hover */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

.user-recipe {
  margin-bottom: 10px; /* Add spacing between recipes */
  width: 100%; /* Full width on smaller screens */
  max-width: 200px; /* Maximum width for larger screens */
}

/* Container Styles */
.container {
  text-align: center;
}

/* Add Day Button Container Styles */
.add-day-button-container {
  margin-bottom: 20px;
}

/* Responsive Media Queries */
@media only screen and (min-width: 768px) {
  .meal-day {
    max-width: 325px; /* Adjust max-width for larger screens */
  }
}
