/* UserProfile.css */

.user-profile {
  max-width: 600px;
  /* margin: 0 auto;
  padding: 20px; */
}

.user-details {
  margin-bottom: 20px;
}

.user-details p {
  margin-bottom: 10px;
}

.user-details img {
  display: block;
  margin: 0 auto 10px;
}


.user-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
  
  .confirmation-popup {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .confirmation-popup p {
    margin-bottom: 10px;
  }
  
  .confirmation-popup button {
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .confirmation-popup {
    background-color: #f0f0f5;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 20px; /* Adjust this value to set the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    z-index: 999; /* Ensure the pop-up appears above other content */
  }
  
  .confirmation-popup button:hover {
    opacity: 0.8;
  }

  .add-btn{
    background-color: #079244bb;
    color: #fff;
    transition-duration: 0.4s;
    border-radius: 12px;
    padding: 5px 15px;

  }
  
  .edit-btn {
    background-color: #007bff;
    color: #fff;
    transition-duration: 0.4s;
    border-radius: 12px;
    padding: 5px 15px;
  }
  
  .delete-btn {
    background-color: #dc3545;
    color: #fff;
    transition-duration: 0.4s;
    border-radius: 12px;
    padding: 5px 15px;
  }
  

  .delete-btn:hover{
    background-color: #dc3545; 
    color: white;
  }


  .confirmation-popup {
    background-color: #f0f0f5;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 20px; /* Adjust this value to set the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px ;
  }
  
  .confirmation-popup p {
    margin-bottom: 10px;
  }
  
  .confirmation-popup button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .confirmation-popup button:hover {
    background-color: #ee091f;
  }   